* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background: #000000;
}
body .container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 80px;
}
body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #141414;
  border-radius: 24px;
  border: 1px solid #202020;
  padding: 40px 32px;
}
body .header .logo.mob {
  display: none;
}
body .content {
  margin-top: 46px;
}
body .content > .title {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 8px;
}
body .content > .subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #98A1A1;
}
body .content .cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
body .content .cards_wrapper.pair {
  gap: 32px;
}
body .content .cards_wrapper.triple {
  gap: 24px;
}
body .content .slider_wrapper {
  margin-top: 40px;
}
body .content .card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid #202020;
}
body .content .card.violet {
  background: rgba(159, 175, 255, 0.4);
}
body .content .card.burgundy {
  background: rgba(255, 159, 160, 0.4);
}
body .content .card.brown {
  background: rgba(255, 187, 159, 0.4);
}
body .content .card.brown2 {
  background: rgba(255, 204, 159, 0.4);
}
body .content .card.darkpink {
  background: rgba(255, 159, 200, 0.4);
}
body .content .card.green_300 {
  background: rgba(228, 255, 159, 0.4);
}
body .content .card.green_400 {
  background: rgba(168, 255, 159, 0.4);
}
body .content .card .title,
body .content .card .description {
  position: relative;
  z-index: 1;
}
body .content .card .button {
  margin-top: auto;
}
body .content .card.single {
  padding: 32px 520px 32px 32px;
  flex: 1;
}
body .content .card.single .title {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
}
body .content .card.single .description {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin: 24px 0 15px;
  color: #FDFDFD;
  max-width: 753px;
  min-width: 400px;
}
body .content .card.single .card_img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 520px;
  -o-object-fit: contain;
     object-fit: contain;
}
body .content .card.single .card_img.mob {
  display: none;
}
body .content .card.pair {
  padding: 32px;
  min-width: 500px;
  flex: 1;
  min-height: 359px;
}
body .content .card.pair .title {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
}
body .content .card.pair .description {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin: 24px 0 15px;
  color: #FDFDFD;
  max-width: 382px;
}
body .content .card.pair .card_img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 222px;
  -o-object-fit: contain;
     object-fit: contain;
}
body .content .card.pair .card_img.top {
  bottom: unset;
  top: 0;
}
body .content .card.triple {
  padding: 32px;
  flex: 1;
  min-width: 330px;
}
body .content .card.triple .title {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
}
body .content .card.triple .description {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin: 24px 0;
  color: #FDFDFD;
  max-width: 341px;
}
body .content .card.triple .card_img {
  position: absolute;
  right: 0;
  top: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
body .content .card.triple .card_img.lamp {
  max-width: 115px;
}
body .content .card.triple .card_img.disinfection {
  max-width: 121px;
}
body .content .card.triple .card_img .lamp2 {
  max-width: 118px;
}
body .content .slider .slick-track {
  display: flex;
  gap: 24px;
}
body .content .slider .slick-track .card {
  width: 237px;
  min-width: 237px;
  height: 283px;
  padding: 24px;
}
body .content .slider .slick-track .card .title {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 12px;
  min-height: 48px;
}
body .content .slider .slick-track .card .description {
  font-size: 14px;
  color: #FDFDFD;
  margin-bottom: 10px;
}
body .content .slider .slick-track .card.color_1 {
  background: rgba(255, 159, 159, 0.4);
}
body .content .slider .slick-track .card.color_2 {
  background: rgba(232, 255, 159, 0.4);
}
body .content .slider .slick-track .card.color_3 {
  background: rgba(159, 255, 207, 0.4);
}
body .content .slider .slick-track .card.color_4 {
  background: rgba(159, 179, 255, 0.4);
}
body .content .slider .slick-track .card.color_5 {
  background: rgba(255, 159, 249, 0.4);
}
body .content .slider .slick-track::before, body .content .slider .slick-track::after {
  display: none;
}
body .content .slider .slick-arrow {
  display: flex;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  z-index: 1;
}
body .content .slider .slick-arrow::before, body .content .slider .slick-arrow::after {
  display: none;
}
body .content .slider .slick-prev {
  left: -10px;
  background-image: url(../images/icons/arrow_left.svg);
}
body .content .slider .slick-next {
  right: -10px;
  background-image: url(../images/icons/arrow_right.svg);
}
body .footer {
  margin-top: 68px;
  border-radius: 24px;
  background: #141414;
  border: 1px solid #202020;
  padding: 32px;
}
body .footer .info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px 120px;
  max-width: 816px;
  margin: 0 auto;
}
body .footer .info .item {
  min-width: 192px;
  max-width: 192px;
}
body .footer .info .item .title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
body .footer .info .item .title .icon {
  width: 22px;
}
body .footer .info .item .title .icon.phone {
  width: 24px;
}
body .footer .info .item .info_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Open Sans", sans-serif;
  color: #98A1A1;
  font-size: 14px;
  margin-top: 20px;
}
body .button {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
}
body .button.transparent {
  background: transparent;
}
body .button.primary {
  border: 1px solid #202020;
}
body .button.secondary {
  border: 1px solid #ffffff;
}
body .button.icon {
  gap: 2px;
}
@media screen and (max-width: 1080px) {
  body .content .card.single {
    padding: 32px 120px 32px 32px;
  }
  body .content .card.single .card_img {
    top: 0;
  }
  body .content .card.single .card_img.desk {
    display: none;
  }
  body .content .card.single .card_img.mob {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  body .container {
    padding: 24px;
  }
  body .content .card.single {
    padding: 16px 120px 16px 16px;
  }
  body .content .card.single .title {
    font-size: 24px;
  }
  body .content .card.single .description {
    font-size: 10px;
    min-width: 206px;
    margin: 8px 0 15px;
  }
  body .content .card.single .card_img {
    top: 0;
  }
  body .content .card.single .card_img.desk {
    display: none;
  }
  body .content .card.single .card_img.mob {
    display: block;
  }
  body .content .card.pair {
    padding: 16px;
  }
}
@media screen and (max-width: 576px) {
  body .header {
    padding: 18px 24px;
  }
  body .header .logo.desk {
    display: none;
  }
  body .header .logo.mob {
    display: block;
  }
  body .content {
    margin-top: 24px;
  }
  body .content > .title {
    font-size: 24px;
  }
  body .content > .subtitle {
    font-size: 16px;
  }
  body .content .cards_wrapper {
    margin-top: 16px;
  }
  body .content .cards_wrapper.pair, body .content .cards_wrapper.triple {
    gap: 16px;
  }
  body .content .card.pair, body .content .card.triple {
    min-width: 100%;
  }
  body .content .card.pair {
    min-height: 216px;
    padding: 16px 70px 16px 16px;
  }
  body .content .card.pair .card_img {
    max-width: 132px;
  }
  body .content .card.pair .card_img.luminous {
    max-width: 86px;
  }
  body .content .card.pair .title {
    font-size: 24px;
  }
  body .content .card.pair .description {
    margin: 8px 0 15px;
    font-size: 10px;
    max-width: 206px;
  }
  body .content .card.triple .title {
    font-size: 24px;
  }
  body .content .card.triple .description {
    font-size: 12px;
    max-width: 191px;
  }
  body .content .slider {
    margin: 0 -24px;
  }
  body .content .slider .slick-track::before, body .content .slider .slick-track::after {
    display: block;
  }
  body .content .slider .slick-arrow {
    display: none !important;
  }
  body .footer {
    margin-top: 24px;
  }
}/*# sourceMappingURL=style.css.map */